@model RestaurantEF.ViewModels.LoginViewModel

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>


@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <table>
        <tr>
            <td>
                @Html.DisplayNameFor(Model => Model.Name)
            </td>
            <td>
                @Html.TextBoxFor(Model => Model.Name)
                @Html.ValidationMessageFor(model => model.Name, "", new { @style = "color:red" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(Model => Model.Password)
            </td>
            <td>
                @Html.PasswordFor(Model => Model.Password)
                @Html.ValidationMessageFor(model => model.Password, "", new { @style = "color:red" })
            </td>
        </tr>

        <tr>
            <td>

                <input type="submit" />
            </td>
        </tr>
    </table>
    @*<footer>
            <div>
                @Html.Partial("_Partial");
            </div>
        </footer>*@
}