@model RestaurantEntity.Restaurant

@{
    ViewBag.Title = "Edit";
}

<h2>Edit Restaurant</h2>
@using (Html.BeginForm("Update", "Restaurant", FormMethod.Post))
{
    <table>
        <tr>
            <td>
                @Html.Label("Restaurant Id")
            </td>
            <td>
                @Html.TextBoxFor(Model => Model.Id)
            </td>
        </tr>
        <tr>
            <td>
                @Html.Label("Restaurant Name")
            </td>
            <td>
                @Html.TextBoxFor(Model => Model.Name)
            </td>
        </tr>
        <tr>
            <td>
                @Html.Label("Restaurant Description")
            </td>
            <td>
                @Html.TextBoxFor(Model => Model.Description)
            </td>
        </tr>
        <tr>

            <td>@Html.ActionLink("Back to List", "Index")</td>
        </tr>
        <tr>
            <td>
                <input type="submit" />
            </td>
        </tr>
    </table>

}

